.category-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-card-title{
  color: var(--text-black, #333);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 20px;
  margin-left: 10px;
}

.maxipet-icon{
  margin-top: 60px;
  margin-left: 40px;
}
